.section4{
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        margin-block: 4rem;
        width: 12rem;
    }
}